<a href="https://colab.research.google.com/github/SaberinaSaberon/python101/blob/master/Smartly_Festive_Campaign.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
sheet1 = pd.read_excel('/content/Smartly.io _ Analyst Test Marina Bay Sands.xlsx',sheet_name = 'Sheet1')
mapping_table = pd.read_excel('/content/Smartly.io _ Analyst Test Marina Bay Sands.xlsx', sheet_name = 'Mapping Table')

sheet1.head()

,Date,variationHash,frame1Image,frame2Image,frame3Image,Impressions,Clicks,Click Through Conversions,View Through Conversions,Total Conversions
0,2019-12-01,054c39866cc0066c3522d35dc69f43b6,frame1p.png,frame2p.png,frame3p.png,0,0,0,4,4
1,2019-12-01,361429e74678fa327e1ef7898f8059f9,frame1c.png,frame2c.png,frame3c.png,1187,1,0,8,8
2,2019-12-01,26f780d454c699495f218a935296bdfd,frame1p.png,frame2p.png,frame3p.png,0,0,4,0,4
3,2019-12-01,780efb7f2b55255a5848401c0c89aa67,frame1p.png,frame2p.png,frame3p.png,0,0,0,9,9
4,2019-12-01,415ed04036c08daeb014088c2b6f160d,frame1c.png,frame2c.png,frame3c.png,0,0,14,0,14

In [ ]:
sheet1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2023 entries, 0 to 2022
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       2023 non-null   datetime64[ns]
 1   variationHash              2023 non-null   object
 2   frame1Image                2023 non-null   object
 3   frame2Image                2023 non-null   object
 4   frame3Image                2023 non-null   object
 5   Impressions                2023 non-null   int64
 6   Clicks                     2023 non-null   int64
 7   Click Through Conversions  2023 non-null   int64
 8   View Through Conversions   2023 non-null   int64
 9   Total Conversions          2023 non-null   int64
dtypes: datetime64[ns](1), int64(5), object(4)
memory usage: 158.2+ KB

In [ ]:
# check which row has total conversions greater than impressions, and should ask stakeholder if this is possible
sheet1['total_impressions'] = np.where(sheet1['Total Conversions']>sheet1['Impressions'],1,0)
sheet1.head()

,Date,variationHash,frame1Image,frame2Image,frame3Image,Impressions,Clicks,Click Through Conversions,View Through Conversions,Total Conversions,total_impressions
0,2019-12-01,054c39866cc0066c3522d35dc69f43b6,frame1p.png,frame2p.png,frame3p.png,0,0,0,4,4,1
1,2019-12-01,361429e74678fa327e1ef7898f8059f9,frame1c.png,frame2c.png,frame3c.png,1187,1,0,8,8,0
2,2019-12-01,26f780d454c699495f218a935296bdfd,frame1p.png,frame2p.png,frame3p.png,0,0,4,0,4,1
3,2019-12-01,780efb7f2b55255a5848401c0c89aa67,frame1p.png,frame2p.png,frame3p.png,0,0,0,9,9,1
4,2019-12-01,415ed04036c08daeb014088c2b6f160d,frame1c.png,frame2c.png,frame3c.png,0,0,14,0,14,1

In [ ]:
# for the meantime only filter rows with conversions less than total impressions
df = sheet1[sheet1['total_impressions']==0]
df

,Date,variationHash,frame1Image,frame2Image,frame3Image,Impressions,Clicks,Click Through Conversions,View Through Conversions,Total Conversions,total_impressions
1,2019-12-01,361429e74678fa327e1ef7898f8059f9,frame1c.png,frame2c.png,frame3c.png,1187,1,0,8,8,0
7,2019-12-01,3686156466cc3a9d45bcf3183897e697,frame1a.png,frame2a.png,frame3a.png,2,0,0,0,0,0
10,2019-12-01,8641d6c84daa0c42c8d735cbbd0a52b7,frame1c.png,frame2c.png,frame3c.png,105,0,0,3,3,0
11,2019-12-01,d23f360ac50b985d85f8fd22df0c093f,frame1c.png,frame2c.png,frame3c.png,193,2,0,0,0,0
16,2019-12-01,5aff12ed6a1d8abab4f9e3dcfefbb611,frame1c.png,frame2c.png,frame3c.png,353,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
2017,2020-01-20,74a6f153cb83fa684589cb2b7eebce4a,#REF!,#REF!,#REF!,3037,4,0,10,10,0
2018,2020-01-20,0276a14ed0a7b711c62bad523e25bc80,#REF!,#REF!,#REF!,1036,4,14,126,140,0
2019,2020-01-20,b39671b925de8eb492b918c4ac46823d,#REF!,#REF!,#REF!,3731,10,64,424,488,0
2020,2020-01-20,c6461efde0cd79e56037cf9cb51d7be0,#REF!,#REF!,#REF!,984,0,0,2,2,0
2022,2020-01-20,21adea73983817fdc3bb7f7b897329d1,#REF!,#REF!,#REF!,425,0,0,0,0,0

In [ ]:
# merge table with variationHash as unique key
df1 = pd.merge(df,mapping_table,on='variationHash',how='left')
df1.head()

,Date,variationHash,frame1Image,frame2Image,frame3Image,Impressions,Clicks,Click Through Conversions,View Through Conversions,Total Conversions,...,frame1Headline,frame2Headline,frame3Headline,ctaText,trigger,customVariable,CTA (en),Timer,Format,Language
0,2019-12-01,361429e74678fa327e1ef7898f8059f9,frame1c.png,frame2c.png,frame3c.png,1187,1,0,8,8,...,BOOK YOUR FESTIVE ESCAPE,"ENJOY FREE CANAPÉS, WITH PURCHASE OF COCKTAILS",EXTRA S$40 SAVINGS PER NIGHT,BOOK NOW,Lato,withOut,BOOK NOW,No timer,300x250,English
1,2019-12-01,361429e74678fa327e1ef7898f8059f9,frame1c.png,frame2c.png,frame3c.png,1187,1,0,8,8,...,BOOK YOUR FESTIVE ESCAPE,"ENJOY FREE CANAPÉS, WITH PURCHASE OF COCKTAILS",EXTRA S$40 SAVINGS PER NIGHT,BOOK NOW,Lato,withOut,BOOK NOW,No timer,300x250,English
2,2019-12-01,361429e74678fa327e1ef7898f8059f9,frame1c.png,frame2c.png,frame3c.png,1187,1,0,8,8,...,BOOK YOUR FESTIVE ESCAPE,"ENJOY FREE CANAPÉS, WITH PURCHASE OF COCKTAILS",EXTRA S$40 SAVINGS PER NIGHT,BOOK NOW,Lato,withOut,BOOK NOW,No timer,300x250,English
3,2019-12-01,361429e74678fa327e1ef7898f8059f9,frame1c.png,frame2c.png,frame3c.png,1187,1,0,8,8,...,BOOK YOUR FESTIVE ESCAPE,"ENJOY FREE CANAPÉS, WITH PURCHASE OF COCKTAILS",EXTRA S$40 SAVINGS PER NIGHT,BOOK NOW,Lato,withOut,BOOK NOW,No timer,300x250,English
4,2019-12-01,361429e74678fa327e1ef7898f8059f9,frame1c.png,frame2c.png,frame3c.png,1187,1,0,8,8,...,BOOK YOUR FESTIVE ESCAPE,"ENJOY FREE CANAPÉS, WITH PURCHASE OF COCKTAILS",EXTRA S$40 SAVINGS PER NIGHT,BOOK NOW,Lato,withOut,BOOK NOW,No timer,300x250,English

In [ ]:
df1.nunique()

Date                           45
variationHash                 136
frame1Image                     4
frame2Image                     4
frame3Image                     5
Impressions                  1137
Clicks                         66
Click Through Conversions     126
View Through Conversions      287
Total Conversions             308
total_impressions               1
frame1Headline                 15
frame2Headline                 15
frame3Headline                 20
ctaText                         5
trigger                         4
customVariable                  2
CTA (en)                        3
Timer                           2
Format                          4
Language                        5
dtype: int64

In [ ]:
df1.drop_duplicates(inplace=True)
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1591 entries, 0 to 32422
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       1591 non-null   datetime64[ns]
 1   variationHash              1591 non-null   object
 2   frame1Image                1591 non-null   object
 3   frame2Image                1591 non-null   object
 4   frame3Image                1591 non-null   object
 5   Impressions                1591 non-null   int64
 6   Clicks                     1591 non-null   int64
 7   Click Through Conversions  1591 non-null   int64
 8   View Through Conversions   1591 non-null   int64
 9   Total Conversions          1591 non-null   int64
 10  total_impressions          1591 non-null   int64
 11  frame1Headline             1591 non-null   object
 12  frame2Headline             1591 non-null   object
 13  frame3Headline             1591 non-null   object
 14  ctaText                    1591 non-null   object
 15  trigger                    1591 non-null   object
 16  customVariable             1591 non-null   object
 17  CTA (en)                   1591 non-null   object
 18  Timer                      1591 non-null   object
 19  Format                     1591 non-null   object
 20  Language                   1591 non-null   object
dtypes: datetime64[ns](1), int64(6), object(14)
memory usage: 273.5+ KB

In [ ]:
df1['frame1Headline'].value_counts()

BOOK YOUR FESTIVE ESCAPE                       184
가격 비교가 필요 없습니다                                 181
STOP LOOKING AROUND                            179
연휴 여행을 예약하세요                                   148
旅行比較サイトに さようなら                                 135
最好的 就在 眼前                                      134
PESAN LIBURAN SEMARAK ANDA                     123
STAY AT THE WORLD'S MOST INSTAGRAMMED HOTEL    122
マリーナベイ サンズで過ごす 年末年始                            111
立即預定 您的 假日之旅！                                   74
旅行比較サイトにさようなら                                   45
最好的就在眼前                                         44
立即 預定您的 假日之旅                                    37
マリーナベイ・サンズで 過ごす年末年始                             37
立即預定您的假日之旅！                                     37
Name: frame1Headline, dtype: int64

In [ ]:
df1['frame2Headline'].value_counts()

ENJOY FREE CANAPÉS, WITH PURCHASE OF COCKTAILS    184
바로 여기서 최저가를 보장합니다                                 181
THE LOWEST PRICE IS HERE                          179
칵테일을 주문하고 카나페를 무료로 즐기세요                           148
最低價格 就在 這裡                                        134
NIKMATI CANAPÉ GRATIS DENGAN PEMBELIAN KOKTAIL    123
SWIM AT THE INFINITY POOL 57 STOREYS HIGH         122
點雞尾酒 暢享 免費小吃                                      111
カクテル ご注文で カナッペが無料                                 111
公式直接予約なら どこよりお得                                    90
公式直接予約ならどこよりお得                                     45
公式直接 予約なら どこより お得                                  45
最低價格就在這裡                                           44
カクテルご注文で カナッペが無料                                   37
點雞尾酒，暢享免費小吃                                        37
Name: frame2Headline, dtype: int64

In [ ]:
df1['frame3Headline'].value_counts()

EXTRA S$40 SAVINGS PER NIGHT                        184
기간 한정 혜택                                            149
LIMITED TIME OFFER                                  147
限時優惠                                                147
HEMAT EKSTRA RP. 410.000 PER MALAM LANGSUNG SAJA    123
AT THE LOWEST PRICE                                 122
1박당 추가 34,000원 할인                                   111
每晚再省 新幣 40 元                                        111
期間限定 キャンペーン                                         111
さらに 1泊3,200円割引                                       74
期間限定キャンペーン                                           37
さらに 1泊 3,200円 割引                                     37
さらに1泊3,200円割引                                        37
每晚再省新幣 40 元                                          37
1박당 추가34,000원 할인                                     37
OFFER ENDS IN                                        32
할인 혜택이 곧 마감됩니다                                       32
優惠將結束於                                               31
キャンペーン 終了まであと                                        24
キャンペーン終了まであと                                          8
Name: frame3Headline, dtype: int64

In [ ]:
#file to be loaded to looker studio
df1.to_csv('Festive Campaign.csv')